APP_BASE_URL=https://salonnia.vercel.app
API_BASE_URL=https://landing-page-mpu1.onrender.com
MP_ACCESS_TOKEN=
MP_WEBHOOK_SECRET=
MP_WEBHOOK_SECRET_TEST=
SUPABASE_URL=
SUPABASE_KEY=
CORS_ORIGINS=https://salonnia.vercel.app
